@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

#page {
    display: grid;
    width: 100%;
    grid-template-areas: "a a a"
                         "b b c"
                         "b b c";
    grid-template-rows: 60px 1fr;
}


#page > header {
    grid-area: a;
    background: white;
    color: black;
}

#page > #mainVid {
    grid-area: b;
    background: rgb(249,249,249);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#page > #relatedVids {
    grid-area: c;
    background: rgb(249,249,249);   
}

/* Navigation */

nav {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

li {
    flex: 1;
    text-align: right;
    margin-right: 15px;
}

#search {
    flex: 10;
    margin-left: 100px;
    margin-right: 150px;
}

#logo, #barMenu{
    text-align: left;
}

#logo {
    min-width: 150px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
}

#logo i {
    color: red;
    font-size: 1.3em;
    position: relative;
    top: 2px;
    margin-right: 2px;
}

input {
    width: 500px;
    padding: 5px;
    font-size: 1em;
}

/* Main Video Section */

#vidContainer {
    padding: 10px;
}

video {
   width: 100%;
}

#vidContainer h1 {
    border-bottom: 1px solid rgb(199, 199, 199);
}


/* Video Sidebar */

#relatedVids {
    display: flex;
    flex-direction: column;
}

.related {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: .8em;;
}

.related video {
    width: 50%;
}

.about {
    padding: 10px;

}