@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#page {
    display: grid;
    width: 100%;
    min-width: 910px;
    grid-template-areas: "a a a"
                         "b b c"
                         "b b c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


#page > header {
    grid-area: a;
    background: white;
    color: black;
}

#page > #mainVid {
    grid-area: b;
    background: rgb(249,249,249);
    flex-direction: column;
}

#page > #relatedVids {
    grid-area: c;
    background: rgb(249,249,249);   
}

/*
====================================
 Navigation 
====================================
*/

nav {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

li {
    flex: 1;
    text-align: right;
    margin-right: 15px;
}

#search {
    flex: 10;
    margin-left: 100px;
    margin-right: 150px;
}

#logo, #barMenu{
    text-align: left;
}

#logo {
    min-width: 150px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
}

#logo i {
    color: red;
    font-size: 1.3em;
    position: relative;
    top: 2px;
    margin-right: 2px;
}

input {
    width: 500px;
    padding: 5px;
    font-size: 1em;
}

/* 
===================================
Main Video Section 
===================================
*/

#vidContainer {
    padding: 10px;
}

video {
   width: 100%;
}

video:focus {
    outline: none;
}

video[poster] {
    object-fit: cover;
}

#vidContainer h1 {
    border-bottom: 1px solid rgb(199, 199, 199);
}


/* 
====================================
Video Sidebar
====================================
 */

#relatedVids {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 400;
    font-size: 1em;
    padding: 10px 0 0 10px;
}

.related:first-of-type {
    border-bottom: 1px solid rgb(199, 199, 199)
}

.related {
    display: flex;
    flex-direction: row;
    font-size: .8em;
    font-weight: 400;
    margin: 0 10px 0 10px;
    padding: 10px 0;
}

.related video {
    width: 40%;
}


.info {
    padding: 0 10px;
}

.info h1 {
    font-weight: 500;
    font-size: 1.2em;
    padding: 0;
    padding-bottom: 5px;
}

.info h3 {
    color: gray;
    font-weight: 400;
    font-size: 1em;
}

/* 
=======================================
Main Video Info 
=======================================
*/

.title {
    width: 97%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.title h1 {
    padding: 10px 0;
    font-weight: 500;
    font-size: 1.3em;
}

.title p {
    color: gray;
    margin-bottom: 15px;
    font-size: .9em;
}

.share {
    font-size: .8em;
    text-transform: uppercase;
    color: gray;
    float: right;
}


.share li {
    margin: 0;
    padding: 0 5px 10px 20px;
    margin-top: -30px;
    flex: none;
    text-align: right;
}

.share li:first-of-type {
    border-bottom: 2px solid rgb(85, 83, 83);
}


.share li:hover {
    cursor: pointer;

}


.about {
    text-align: left;
    padding: 10px 0 20px 0;
    width: 97%;
    margin: 0 auto;
    margin-bottom:20px;
    border-bottom: 1px solid rgb(199, 199, 199);
    clear: both;
}

.about i {
    font-size: 3em;
    color:lightskyblue;
    padding: 5px 0 0 10px;
    float: left;
}

.about h3 {
    float: left;
    margin-left: 10px;
    font-size: .9em;
    padding: 10px 0;
}

span {
    color: gray;
    font-weight: 400;
    font-size: .9em;
}

.about p {
    width: 90%;
    padding: 10px 0;
    margin-left: 70px;
    clear: both;
    font-size: .9em;
    line-height: 1.75em;
}

button {
    background: rgb(202, 14, 14);
    color: white;
    font-weight: 400;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: .9em;
    float: right;
    border-radius: 2px;
    cursor: pointer;
}


/* 
======================================
Comments
======================================
*/

#comments {
    width: 97%;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

#comments input {
    width: 90%;
    padding: 20px 0 10px 0;
    float: right;
    border: none;
    background: rgb(249,249,249); 
    border-bottom: 1px solid rgb(199, 199, 199);
}

#comments input:focus {
    outline: none;
}

#comments h1 {
    font-weight: 400;
}

.comment:first-of-type {
    margin-top: 2px;
}

.comment {
    clear: both;
    margin-top: 20px;
    padding: 20px 0;
}

.comment i {
    font-size: 3em;
    width: 10%;
    float: left;
    padding: 5px;
    color: lightblue;
}

.comment h3 {
    font-weight: 600;
    font-size: .8em;
    float: left;
    padding: 0 5px 0 0;
}

.comment h4 {
    color: gray;
    font-weight: 400;
    font-size: .8em;
}

.comment p {
    margin-top: 10px;
    font-size: .9em;
    line-height: 1.75em;
    width: 90%;
}


